.header__logo {
  width: 160px;
  height: 80px;
  background-image: var(--logo-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}


@media screen and (max-width: 480px) {
  .header__logo {
    width: 120px;
    height: 60px;
    flex-shrink: 0;
  }
}