@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
  margin-top: 15px;
  position: relative;
}

/* Убираем серую линию из profile, теперь она будет в контейнере вкладок */

/* Контейнер для вкладок профиля */
.profile__tabs {
  position: absolute;
  bottom: -12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
}

/* Серая базовая линия на всю длину профиля */
.profile__tabs::before {
  content: '';
  width: 100%;
  height: 1px;
  opacity: 0.7;
  background: #545454;
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
  bottom: 0;
}

.profile-tab {
  border: none;
  background: none;
  color: var(--text-color);
  font-size: 23px;
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 0.7;
  cursor: pointer;
  position: relative;
}

.profile-tab:active {
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.profile-tab.active {
  opacity: 1;
  color: #378bd0;
}

.profile-tab::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 40px;
  height: 2px;
  background-color: #378bd0;
  border-radius: 1px;
  transition: transform 0.4s ease-out;
}

.profile-tab.active::before {
  transform: translateX(-50%) scaleX(1);
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }

  .profile__tabs {
    gap: 75px;
    /* max-width: 250px; */
    bottom: -10px;
  }

  .profile-tab {
    font-size: 28px;
  }
}