.places__item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 
    10px 10px 20px var(--shadow-dark),
    -10px -10px 20px var(--shadow-light);

  padding: 20px;

  transition: transform 0.5s ease;
}

.places__item:hover {
  transform: scale(1.02);
}

