.popup.popup_type_new-card {
  display: none;
  /* opacity: 0; */
  /* pointer-events: none; */
  /* transition: visibility 0s 0.3s, opacity 0.3s; */
}

.popup.popup_type_image {
  /* display: flex; */
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 270px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup__content-delete {
  min-height: 181px;
  padding: 34px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.popup__content-delete .popup__title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.popup__content-delete .popup__button {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup__content-delete .popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
  
  .popup__content-delete {
    padding: 25px 22px;
  }
  
  .popup__content-delete .popup__button {
    font-size: 14px;
    height: 40px;
  }
}
