
.popup.popup_type_new-card {
  display: none;
  /* opacity: 0; */
  /* pointer-events: none; */
  /* transition: visibility 0s 0.3s, opacity 0.3s; */
}

.popup.popup_type_image {
  /* display: flex; */
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 270px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;

  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup__content-delete {
  min-height: 195px;
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
}
